:root {
  --clr-dark-background: #030013;
  --clr-primary-100: #efe9e9;
  --clr-primary-200: #cfbebe;
  --clr-accent: #d55327;

  --ff-primary: "Outfit", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: 16px;
  --fs-200: 20px;
  --fs-300: 28px;
  --fs-400: 32px;
  --fs-500: 56px;
  --fs-600: 64px;

  --fs-section-main-text: var(--fs-300);
  --fs-section-text: var(--fs-200);
}

@media (max-width: 50em) {
  :root {
    --fs-500: 36px;
    --fs-600: 42px;
    --fs-section-main-text: var(--fs-200);
    --fs-section-text: 18px;
  }
}

/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Utility classes */

.text-dark-background {
  color: var(--clr-dark-background);
}
.text-primary-100 {
  color: var(--clr-primary-100);
}
.text-primary-200 {
  color: var(--clr-primary-200);
}
.text-accent {
  color: var(--clr-accent);
}
.bg-dark-background {
  background-color: var(--clr-dark-background);
}

.bg-accent-gradient {
  background: linear-gradient(200deg, #fdb276 5%, #d55327 80%, #973118);
}

.bg-glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-right: 0.8px solid rgba(255, 255, 255, 0.3);
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.3);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-section-title {
  font-size: var(--fs-500);
}
.fs-section-name {
  font-size: var(--fs-100);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-100 {
  font-size: var(--fs-100);
}
.text-appercase {
  text-transform: uppercase;
}

.mg-100 {
  margin-top: 100px;
}

.mg-80 {
  margin-top: 80px;
}

.mg-60 {
  margin-top: 60px;
}

.mg-40 {
  margin-top: 40px;
}

.mg-28 {
  margin-top: 28px;
}

.mg-20 {
  margin-top: 20px;
}

.mg-16 {
  margin-top: 16px;
}

@font-face {
  font-display: swap;
  font-style: normal;
  font-family: "Outfit";
  font-weight: 400;
  src: url("assets/fonts/Outfit-Regular.woff") format("woff");
}

@font-face {
  font-family: "Outfit";
  font-weight: 700;
  src: url("assets/fonts/Outfit-Bold.woff") format("woff");
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-section-text);
  background-color: var(--clr-dark-background);
  margin: 30px;
  font-weight: 700;
}
.icon-menu {
  fill: var(--clr-primary-100);
}
.primary-navigation-wrapper {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-navigation {
  width: 100%;
}

.nav-wrapper {
  height: 82px;
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.primary-navigation .menu-items {
  display: flex;
}

.primary-navigation .nav-container li {
  list-style: none;
}

.primary-navigation .nav-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.primary-navigation .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 14px;
  right: 14px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 26px;
  height: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.primary-navigation .menu-items {
  transform: translateX(25vw);
}

.primary-navigation .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  background: #d55327;
  padding-top: 120px;
  height: 100vh;
  width: 18vw;
  transform: translate(4vw);
  display: flex;
  flex-direction: column;
  right: 0;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  position: fixed;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

.primary-header {
  justify-self: right;
}
.container {
  display: grid;
}

.hero-text {
  font-size: var(--fs-section-main-text);
}

.ball-button {
  width: 196px;
  aspect-ratio: 1;
  border-radius: 50%;
  justify-self: right;
}

header {
  grid-area: header;
}
.sidebar-card-wrapper {
  grid-area: card;
}
.sidebar-card {
  text-align: center;
  padding: 60px 40px;
  width: 400px;
  height: 720px;
  border-radius: 16px;
  position: fixed;
}
.sidebar-card li {
  display: inline-block;
}
.card-photo {
  display: block;
  margin: 0 auto;
}
main {
  grid-area: main;
  max-width: 1000px;
}

.sidebar-menu-wrapper {
  grid-area: sidebar-menu;
  position: relative;
  z-index: -1;
}
.sidebar-menu {
  width: 60px;
  height: 344px;
  border-radius: 60px;
  position: fixed;
}
.sidebar-menu li {
  margin: 32px 20px;
}
footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-template-columns: 400px 1fr 60px;
  column-gap: 30px;
  grid-template-areas:
    "header header header"
    "card main sidebar-menu"
    "..... footer .....";
}

.reel video {
  width: 100%;
}

.footer-wrapper {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.programm-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  text-align: center;
  row-gap: 20px;
}
.programm-wrapper img {
  margin: 0 auto;
}
.skills-wrapper {
  grid-template-columns: repeat(3, 200px);
  gap: 28px;
}
.project-wrapper {
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
}
.project-wrapper img {
  margin: 0 auto;
}

@media (min-width: 50em) {
  .first-project-video {
    order: 1;
  }
  .first-project-text {
    order: 2;
  }
}

.section-name {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 50px;
}

.form-wrapper {
  row-gap: 28px;
}
.form {
  width: 60%;
  border-radius: 20px;
  padding: 40px 80px;
}

label {
  opacity: 70%;
}
input,
label,
textarea {
  line-height: 2;
  color: var(--clr-primary-200);

  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
}
input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-style: none;
}

.button {
  width: 240px;
  height: 60px;
  border-radius: 50px;
  justify-self: center;
}
@media (max-width: 50em) {
  .sidebar-card {
    position: static;
    margin-bottom: 100px;
  }
  .sidebar-menu {
    position: static;
    display: none;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "card "
      "main"
      "sidebar-menu"
      "footer";
  }
  .skills-wrapper {
    grid-template-columns: repeat(2, 200px);
    gap: 28px;
  }
}
